# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

local-test.js
elo-offline.js
local-admin.js
# dependencies
/node_modules
my-app/node_modules
/.pnp
.pnp.js
*.cer 
*.pem
*.p12

my-app/public/*.zip
**/website.json

# testing
/coverage

# production
my-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#server
server/index.html

npm-debug.log*
yarn-debug.log*
yarn-error.log*
